Source: ros-groovy-openni-scene
Section: misc
Priority: extra
Maintainer: Yohei Kakiuchi <youhei@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), libopenni-nite-dev, ros-groovy-catkin, ros-groovy-pcl-ros, ros-groovy-roscpp, ros-groovy-roslib, ros-groovy-sensor-msgs
Homepage: http://ros.org/wiki/jsk_openni_kinect
Standards-Version: 3.9.2

Package: ros-groovy-openni-scene
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenni-nite-dev, ros-groovy-pcl-ros, ros-groovy-roscpp, ros-groovy-roslib, ros-groovy-sensor-msgs
Description: openni pointer application developed by kyouhei
