Source: ros-groovy-kinect-near-mode-calibration
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), libeigen3-dev, ros-groovy-catkin, ros-groovy-image-geometry, ros-groovy-openni-camera, ros-groovy-roscpp, ros-groovy-roslib, ros-groovy-std-srvs
Homepage: http://ros.org/wiki/kinect_near_mode_calibration
Standards-Version: 3.9.2

Package: ros-groovy-kinect-near-mode-calibration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-groovy-image-geometry, ros-groovy-opencv2, ros-groovy-openni-camera, ros-groovy-roscpp, ros-groovy-roslib, ros-groovy-std-srvs
Description: kinect_near_mode_calibration
