Source: ros-groovy-openni-pointer
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), libopenni-nite-dev, ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-roslib, ros-groovy-tf
Homepage: http://ros.org/wiki/jsk_openni_kinect
Standards-Version: 3.9.2

Package: ros-groovy-openni-pointer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenni-nite-dev, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-roslib, ros-groovy-tf
Description: openni pointer application developed by atsushi-tsuda
